{% extends 'base.html.twig' %}

{% block title 'Homepage' %}

{% block body %}
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">{{ 'homepage.content.welcome'|trans({}, "homepage") }}</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="{{ path('article_index') }}" role="button">{{ 'homepage.content.learnMore'|trans({}, "homepage") }} &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                {% for article in articles %}
                    <div class="col-4">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">{{ 'articles.card_title'|trans({}, "pages") }}</div>
                            <div class="card-body">
                                <h4 class="card-title">{{ article.title }}</h4>
                                <p class="card-text">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo</p>
                                <p><a class="btn btn-primary" href="{{ path('article_show',{'id': article.id}) }}" role="button">{{ 'homepage.content.viewDetails'|trans({}, "homepage") }} &raquo;</a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div> <!-- /container -->

    </main>
{% endblock %}