{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Product index</h1>
    <div class="flex-container" style="display: flex; justify-content: flex-end">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="filter" class="sr-only">Password</label>
                <input name="filter" class="form-control" type="text" >
            </div>
            <button type="submit" class="btn btn-primary mb-2">Filter now</button>
        </form>
    </div>

    <table class="table">
        <thead>
                <tr>
                <th>{{ knp_pagination_sortable(products,'view.id'|trans({}, "messages"), 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(products,'view.name'|trans({}, "messages"), 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(products,'view.price'|trans({}, "messages"), 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(products,'view.description'|trans({}, "messages"), 'p.name') }}</th>
                <th>{{ 'view.actions'|trans({}, "messages") }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>

    <a href="{{ path('product_new') }}">Create new</a>
    </div>
{% endblock %}
