{% extends 'base.html.twig' %}

{% block title %}{{ 'product.new_title'|trans({}, "pages") }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ 'product.new_title'|trans({}, "pages") }}</h1>

    {{ include('product/_form.html.twig') }}
    <hr>

    <a type="button" class="btn btn-primary" href="{{ path('product_index') }}">{{ 'buttons.back_list'|trans({}, "pages") }}</a>
</div>
{% endblock %}
