{% extends 'base.html.twig' %}

{% block title %}{{ 'product.show_title'|trans({}, "pages") }}{% endblock %}

{% block body %}
    <h1>{{ 'product.show_title'|trans({}, "pages") }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'view.id'|trans({}, "messages") }}</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>{{ 'view.name'|trans({}, "messages") }}</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>{{ 'view.price'|trans({}, "messages") }}</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>{{ 'view.description'|trans({}, "messages") }}</th>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto">
            <a type="button" class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">{{ 'buttons.edit'|trans({}, "pages") }}</a>
        </div>
        <div class="col-auto">
            {{ include('product/_delete_form.html.twig') }}
        </div>
        <div class="col-auto">
            <a type="button" class="btn btn-primary" href="{{ path('product_index') }}">{{ 'buttons.back_list'|trans({}, "pages") }}</a>
        </div>
    </div>


{% endblock %}
