{% extends 'base.html.twig' %}

{% block title %}{{ 'articles.index_title'|trans({}, "pages") }}{% endblock %}

{% block body %}
    <h1>{{ 'articles.index_title'|trans({}, "pages") }}</h1>
    <hr>
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-4">
                    <section class="articles">
                        <div class="card mb-3">
                            <h3 class="card-header">{{ article.title }} </h3>
                            <div class="card-body">
                                <h5 class="card-title">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}} dans la catégorie Politique</h5>
                            </div>
                            <img style="height: 200px; width: 100%; display: block;" src="{{ article.image }}" alt="Card image">
                            <div class="card-body">
                                <p class="card-text">{{ article.content | raw }}</p>
                            </div>
                            <div class="card-body">
                                <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">{{ 'homepage.content.learnMore'|trans({}, "homepage") }}</a>
                            </div>
                        </div>
                    </section>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
